@import '../../../../assets/styles/mixin.scss';

.header {
  background: linear-gradient(to bottom, #c5f4f3 0%, rgba(255,246,232,0) 61.54%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.book-title {
  margin-top: 5px;
  font-size: var(--ygm-font-size-m);
  @include wrap(2);
}


.book-author {
  font-size: var(--ygm-font-size-s);
  color: #969ba3;
  @include wrap(1);
}
