.header {
    width: 100%;
    padding: var(--ygm-padding-m) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        font-size: var(--ygm-font-size-xl);
        font-weight: bolder;
    }

    .right {
        font-size: var(--ygm-font-size-xxxl);
        width: 55px;
        display: flex;
        justify-content: space-between;
    }
}
