.book-cover {
  --width: 69px;
  --height: 95px;
  --radius: 5px;
  font-size: var(--ygm-font-size-m);

  img {
    width: var(--width);
    height: var(--height);
    border-radius: var(--radius);
  }
}

